<header id="header">
  <a class="u-url u-uid" href="<%- url_for("/") %>">
  <!-- <img  id="logo"src="<%- url_for("https://avatars.githubusercontent.com/u/81509671?s=48&v=4") %>" /> -->
    <div id="title" style="margin: 0 auto 20px auto;">
      <h1><%= config.title %></h1>
    </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#" aria-label="<%- __('icons.menu') %>"><i class="fa-solid fa-bars fa-2x"></i></a>
      </li>
      <% for (var i in theme.nav) { %>
        <li><a href="<%- url_for(theme.nav[i].path) %>"><%= __(theme.nav[i].name)%><img src="<%= theme.nav[i].icon_path %> " title="<%= theme.nav[i].icon_desc %>"width="30px"></a></li>
      <% } %>
    </ul>
  </div>
</header>
